@media screen and (min-width: 600px) {
    .news-grid {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        gap: 75px 50px;
    }
    
    .news-grid-item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .news-grid-item2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .news-grid-item3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .news-grid-item4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .news-grid-item5 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .news-grid-item6 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    
    .news-card-title {
        margin-left: 3%;
        margin-top: 6%;
        font-size: 20px;
    }
}

@media screen and (min-width: 1001px) {
    .crypto-div {
        width: 705px;
        height: 591px;
    }

    .container {
        width: 70%;
        height: 90%;
        padding: 20px;
    }

    
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .container {
        width: 80%;
        height: 90%;
        padding: 20px;
    }

    .crypto-div {
        width: 500px;
        height: 591px;
    }

}

@media screen and (min-width: 200px) and (max-width: 699px){
    .container {
        width: 100%;
        height: 90%;
        padding: 0;
    }

    .crypto-div {
        width: 100%;
        height: 591px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 !important;
    }

    main {
        padding-top: 60px !important;
        padding-left: 0;
        padding-right: 0;
    }

    .news-grid {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-evenly;
        margin-right: 5px;
        margin-left: 5px;
        gap: 50px 50px;
    }
    
    .news-grid-item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .news-grid-item2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .news-grid-item3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .news-grid-item4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    
    .news-grid-item5 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    
    .news-grid-item6 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

}

html, body {
    margin-left: 0;
    margin-top: 0;
    height: 100%;
    /* background-color:cadetblue; */
}

:root {
    --mdc-theme-primary: black;
}

.mdc-drawer .mdc-list-item--activated {
    color: black;
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: black;
}

.container {
    /* width: 70%;
    height: 90%; */
    /* top: 100px; */
    /* margin-top: 50px; */
    margin-left: auto;
    margin-right: auto;
}

#bar-icon {
    /* margin-left: 10px; */
    /* margin-right: 12px; */
}

.bar-icon {
    margin-right: 7px;
    width: 24px;
}

.burger-no-ripple {
    --mdc-ripple-fg-scale: 0 !important;
}


.news-card-title {
    margin-left: 3%;
    margin-top: 6%;
    font-size: 20px;
}

.news-card-description {
    margin-left: 3%;
    font-size: 16px;
}

.news-card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    top: 0;
}
.news-card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    top: -3px;
}


.crypto-div {
    /* margin-top: 40px; */
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    padding: 1rem !important;
    border-radius: 0.25rem !important;
}

.crypto-div:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.crypto-div-title {
    margin: 0;
}
.crypto-price-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 0;
    margin-top: 10px;
}

.crypto-usd-price {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.crypto-growth {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.crypto-curve {
    width: 100%;
    height: 500px;
    margin-left: 10px;
    padding: 0;
}

.price-increase {
    color: rgb(25, 224, 81);
}

.price-decrease {
    color: rgb(230, 14, 14);
}

#add-crypto-button {
    /* bottom: 10px;    
    position: fixed !important;
    z-index: 3;
    /* margin-left: 32.5%; */
    /* text-align: center;
    margin: auto; */
}

.screen-cover {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.32);
    width: 100%;
    height: 100%;
    z-index: 4;
}


main {
    /* height: 100%; */
}

.crypto-form {
    background-color: white;
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    height: 40%;
    bottom: 0px;
    position: fixed;
    z-index: 5;
    border-radius: 0.25rem !important;
}

#curve_chart {
    width: 100%;
}

.crypto-button-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    bottom: 8px;
    z-index: 3;
}

